.title-text{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
@media screen and (max-width: 950px) {
  .title-text{
    display: flex;
    flex-direction: column;
  }
  
}