.second-section-card-content {
  width: 100%;
  margin: 50px 0;

  &_ssct-con {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_card-holda {
      width: 55%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
    }
  }
}

.card-emage-div {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  position: relative;

  &_ced{
    width: 100%;
    height: 130px;
    background:#FE043C;
    opacity: 0.8;
    position: absolute;
    bottom: 0;
    color:white;
    &_ced-content{
      width: 80%;
      margin: auto;
      &_ced-text{
        font-size: 10px;
        margin: 0 0 15px 0;
      }
    }
  }
}

//.less {
//  width: 70px;
//  height: 20px;
//}

.lessthan {
  background:  #FE043C;
  margin: 10px;
  //width: 100%;
  //height: 100%;
}

.small-size-location-icon{
width: 120px;
}
.dot-card{
  width: 45%;
  position: relative;
  padding: 40px  0;

  &_dottedemage-div{
      width: 70%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      img{
        width: 100%;
        height: 100%;
      }
  }  &_dottedemage-div2{
         width: 70%;
         position: absolute;
         bottom: 0;
         right: 0;
         z-index: 0;
         img{
           width: 100%;
           height: 100%;
         }
       }
}
@media screen and (max-width: 950px){
  .second-section-card-content {
    &_ssct-con {
      &_card-holda {
        width: 100%;
      }
    }
  }
}