.fifth-section{
  width: 100%;
  display: flex;
  justify-content: center;


  &_fifth-con{
    .fifth-section-title{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }


   .card-section{
     width: 100%;
     max-width: 100%;
     margin: auto;

     .card-section-con{
       //margin: auto;
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
       grid-gap: 20px;


     }

   }
  }
}