.top-section-text{
  width: 100%;
  &_food{
    color: wheat;
    font-size: 72px;
    font-family: 'Poppins', sans-serif;
  }
  &_p-text{
    font-family: 'Poppins', sans-serif;
    font-weight: 10;
    font-size: 30px;
  }
}