.menu-card{
  width: 350px;
  height: 400px;
  background: white;
  border-radius: 10px;
  margin: 10px 0;

 .menu-card-emage-div{

   img{
    width:  100%;
     height: 100%;

   }
 }
  .menu-card-content{
    padding: 20px;
    .menu-card-title{
      margin: 10px 0;
      display: flex;
      justify-content: space-between;

    }
  }
}