.plate-of-food{
  width: 100%;
  position: relative;
  &_emage-holder{
    position: relative;

    &_dot-emage-container{
      width: 40%;
      position: relative;
      z-index: -1;

      .dotemage{
        width: 100%;
      }
    }
    &_food-emage{
      width: 85%;
      position: absolute;
      top: 20px;
      right: 100px;

      .food{
        width: 100%;
        height: 100%;
      }
    }
    &_lettuce-emage{
      width: 50%;
      position: absolute;
      bottom: 117px;
      right: 152px;
      z-index:-1;
    }
  }



}

